html
{
	height: 100%;
}

body
{
    margin: 0;
	padding: 0;
	height: 100%;
	background: #ffffff;
	font-size: 14pt;
}

a
{
	color: #F9BC01;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

button
{
	background: none;
	cursor: pointer;
	width: 90%;
	height: 50px;
	font-size: 16pt;
	font-weight: bold;
	border-radius: 10px;
	border: 2px dashed #000;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s;
	outline: none;
}

button:hover
{
	background-color: #F9BC01;
	border: 2px dashed #fff;
	color: white;
}

input[type=text], input[type=number]
{
	border-radius: 5px;
	border: 2px solid #000;
	background: none;
	font-size: 12pt;
	outline: none;
	padding: 5px;
	margin-bottom: 5px;
}

select
{
	border-radius: 5px;
	border: 2px solid #000;
	background: none;
	font-size: 12pt;
	outline: none;
	padding: 5px;
	margin-bottom: 5px;
}

textarea
{
	border-radius: 5px;
	border: 2px solid #000;
	background: none;
	font-size: 12pt;
	outline: none;
	padding: 5px;
	height: 150px;
	resize: vertical;
	width: 90%;
	margin-bottom: 5px;
}

#header
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #333333;
	color: white;
	padding: 5px 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	z-index: 999;
}

#logo
{
	height: 60px;
	margin-left: 1%;
	display: inline-block;
	vertical-align: middle;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

#title
{
	font-size: 22pt;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 2%;
	vertical-align: middle;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

#menu
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 70px 0px 10px 10px;
	margin-right: 20px;
	background-color: #333333;
	color: white;
	width: 17%;
	height: 100%;
	display: inline-block;
	z-index: 998;
	overflow-y: auto;
}

.menu_current
{
	border: 2px solid #000;
	border-radius: 5px;
	background-color: #23282b;
	color: white;
	cursor: default;
	padding: 15px 10px;
	margin: 5px -2px 5px 5px;
	overflow: hidden;
	text-transform: uppercase;
}

.menu_item
{
	border: 2px dashed #000;
	border-radius: 5px;
	background-color: #4d4d4d;
	color: white;
	cursor: pointer;
	padding: 15px 10px;
	margin: 5px -2px 5px 5px;
	overflow: hidden;
	text-transform: uppercase;
	transition: 0.35s;
}

.menu_item:hover
{
	border: 2px solid #000;
	background-color: #23282b;
}

#main
{
	position: fixed;
	top: 0;
	left: 18.6%;
	margin-top: 70px;
	padding: 10px;
	width: 80%;
	height: 88%;
	display: inline-block;
	overflow-y: auto;
}

.add
{
	cursor: pointer;
	font-size: 55pt;
	font-weight: bold;
	border-radius: 10px;
	border: 2px dashed #000;
	text-align: center;
	width: 25%;
	transition: 0.3s;
}

.add:hover
{
	background-color: #F9BC01;
	border: 2px dashed #fff;
	color: white;
}

.format
{
	cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    font: 16pt Times New Roman;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #F9BC01 !important;
	outline: none;
}

.format img
{
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.format:hover
{
    background-color: #9ab6d9 !important;
}

.left_text
{
	text-align: left;
	width: 90%;
	height: 20px;
	padding: 5px;
	margin: 0 auto;
}